footer {
    background-color: #864ed4;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}

.container {
    margin: 0 auto;
}

p {
    margin: 0;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}
